<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container-fluid" id="app">
    <h1>Historias</h1>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-dark">
            <thead>
            <tr>
                <th>id</th>
                <th>Plot</th>
                <th>Writer</th>
                <th>Votes</th>
                <th>Editando</th>
                <th>
                    <button class="btn btn-primary" @click="creando=true">Nuevo</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="story in stories" is="story" :story="story"></tr>
            </tbody>
            <tfoot v-if="creando">
            <tr>
                <td></td>
                <td><input type="text" v-model="nuevaHistoria.plot" @keyup.enter="crearHistoria()"></td>
                <td><input type="text" v-model="nuevaHistoria.writer" @keyup.enter="crearHistoria()"></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary" @click="crearHistoria()">Crear</button>
                        <button class="btn btn-danger" @click="creando=false">Cancelar</button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<template id="story-template">
    <tr>
        <td>{{story.id}}</td>
        <td v-if="!story.editando">{{story.plot}}</td>
        <td v-if="story.editando"><input type="text" v-model="story.plot" @keyup.enter="actualizar(story)"></td>
        <td v-if="!story.editando">{{story.writer}}</td>
        <td v-if="story.editando"><input type="text" v-model="story.writer" @keyup.enter="actualizar(story)"></td>
        <td>{{story.upvotes}}</td>
        <td>{{story.editando}}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-info" @click="votar(story)" v-if="!story.editando">Votar</button>
                <button class="btn btn-light" @click="story.editando=true" v-if="!story.editando">Editar</button>
                <button class="btn btn-danger" @click="eliminar(story)" v-if="!story.editando">Eliminar</button>
                <button class="btn btn-light" @click="actualizar(story)" v-if="story.editando">Actualizar</button>
                <button class="btn btn-danger" @click="story.editando=false" v-if="story.editando">Cancelar</button>
            </div>
        </td>
    </tr>
</template>
</body>
<script src="vue.js"></script>
<script src="axios.js"></script>
<script>
    Vue.component("story", {
        template: "#story-template",
        props: ["story"],
        methods: {
            votar: function (story) {
                story.upvotes++;
                axios.patch("http://127.0.0.1:8000/api/stories/" + story.id, story).then(function () {
                    story.editando = false;
                })
            },
            actualizar: function (story) {
                axios.patch("http://127.0.0.1:8000/api/stories/" + story.id, story).then(function () {
                    story.editando = false;
                })
            },
            eliminar: function (story) {
                let confirmar = confirm("¿Desea eliminar la historia? Esta acción no puede deshacerse")
                if (confirmar) {
                    let vm = this;
                    axios.delete("http://127.0.0.1:8000/api/stories/" + story.id).then(function () {
                        vm.$parent.cargarHistorias();
                    })
                }
            }
        }
    })
    new Vue({
        el: "#app",
        data: {
            stories: [],
            creando: false,
            nuevaHistoria: {
                plot: "",
                writer: "",
                upvotes: 0
            }
        },
        methods: {
            cargarHistorias: function () {
                let vm = this;
                axios.get("http://127.0.0.1:8000/api/stories").then(function (response) {
                    let historiasListas = response.data.map(function (element) {
                        element.editando = false;
                        return element;
                    });
                    vm.stories = historiasListas;
                })
            },
            crearHistoria: function () {
                let vm = this;
                axios.post("http://127.0.0.1:8000/api/stories", this.nuevaHistoria).then(function () {
                    vm.cargarHistorias();
                    vm.creando = false;
                })
            }
        },
        mounted: function () {
            this.cargarHistorias()
        }
    })
</script>
</html>